:root, :host {
    --minViewportSize: 320;
    --maxViewportSize: 1920;
    --color-primary: #FFFFFF;
    --color-black: #000;
  }
  
  html, body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1rem;
    color: var(--color-black);
    transition: all 0.4s ease-in-out;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: auto;
  }
  
  
  /* sidebar menu */
  .sidebar {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 975;
      top: 0;
      right: 0;
      background-color: white;
      overflow-x: hidden;
      transition: 1s;
      padding-top: 60px;
  }
    
  .sidebar a {
      padding: 8px 30px 8px 8px;
      text-decoration: none;
      text-align: center;
      font-family: 'Cormorant Garamond', serif;
      font-size: 70px;
      color: black;
      display: block;
      transition: 1s;
  }
    
  .sidebar a:hover {
      color: #f1f1f1;
  }
    
  .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;  
      font-size: 36px;
      margin-left: 60px;
  }

  #topnav {
    background-color: white!important;
    overflow: hidden;
    z-index: 950;
  }
  
  #topnav a {
    font-family: Arial,Helvetica,sans-serif;
    float: left;
    display: block;
    color: black!important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  #topnav a:hover {
    background-color: white!important;
    color: black;
  }
  
  #topnav a.active {
    background-color: white;
    color: black;
  }
  
  .openbtn {
      font-size: 30px;
      cursor: pointer;
      background-color: transparent;
      color: black;
      padding: 3px 15px;
      border: none;
      float: right;
  }
    
  .openbtn:hover {
      background-color: rgb(43, 36, 36);
      color: white;
  }
    
  @media screen and (max-height: 450px) {
      .sidebar {padding-top: 15px;}
      .sidebar a {font-size: 18px;}
  }

  

  .sticky{
    position: fixed;
    top: 0;
    width: 100%;
  }

  .container {
    height: 50%;
    position: relative;
    padding-top: 30%;
    color:rgb(43, 36, 36);
    background-color: #FFFFFF;
    align-items: center;
    justify-content: left;
    justify-items: center;
    padding-left: 5%;
    padding-right: 10%;
    font-size: 20px;
    display: block;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 30px;
  }
  
  .container a:visited{
     color: inherit;
     text-decoration: none;
  }

  @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
  * {
    margin: 0;
    padding: 0;
  }
  .demo {
    position: absolute;
    bottom: 10%;
    align-items: center;
    z-index: 2;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #000;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .demo a:hover {
    opacity: .5;
  }
  
  .demo img{
    width: 10px;
    height: auto;
    position: relative;
    align-items:center;
  }
  
  #section01 a {
    padding-top: 0px;
  }
  #section01 a span {
    position: absolute;
    top: 0;
    left: 45%;
    width: 24px;
    height: 24px;
    border-left: 1px solid #080808;
    border-bottom: 1px solid #080808;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
  }
  #section01 {
    position: absolute;
    width: 100%;
    height: auto;
    align-items: center;
  }
  section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
  }
  
#about {
  background-color: #FFFFFF;
  height:100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
  font-size: 20px;
  position: relative;
  align-items: center;
  vertical-align: text-top;
}

.about-content{
  position:absolute;
  height: 100%;
  display: flex;
}

.about-content p{
  float: left;
  padding-left: 8%;
  vertical-align:top;
}

.about-content a:visited{
  color: inherit;
  text-decoration: none;
}

.about-content img{
  width: 30%;
  height: auto;
  float: left;
}

.footer .closing{
    padding-left: 3%;
}

.footer a{
    text-decoration: none;
    color: white!important;
    padding-top: 4%;
}

.footer .email {
    padding-left: 3%;
}

.footer .email a:visited{
    color: inherit;
}

.footer .link-container{
    font-size: 45px;
    letter-spacing: -0.03em;
    text-align: justify;
    align-items: center;
}

.footer .link-container a{
    font-size: 45px;
    font-family: 'Cormorant Garamond', serif;
    padding-top: 4%;
    padding-left: 3%;
    text-decoration: none;
    color: white!important;
    margin-right: 5px;
}

.footer .link-container a:visited{
    color:inherit;
}

.footer a.active {
    background-color: transparent;
    color: white;
}

.footer{
    height: 100%;
    position: relative;
    background-color: rgb(43, 36, 36);
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    padding-top: 3%;
    text-decoration: none;
    color: white!important;
}

.top{
    font-size: calc(81px + (513 - 81) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
    font-family: 'Raleway', sans-serif;
    color: white!important;     
    text-decoration: none;
    text-align: center!important;
    letter-spacing: 0em;
    vertical-align: bottom!important;
    bottom: 0;
    width: 100%;
    position: absolute;
}

.top:visited{
    color: inherit;
 }
  
  @media screen and (min-width: 720px)
  {
      /* Responsive styling for the intro section (padding, hiding/showing images) */
      #about
      {
          padding-left: 10%;
          padding-right: 10%;
      }
  }
  

  .edu{
    margin: 40px 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    gap: 30px;
    padding-top: 3%;
  }
  
  .edu img{
    float: left;
    margin-right: 30px;
    height: auto;
    width: 200px;
  }

  .edu .bu {
    align-items: left;
    font-size: 20px;
    padding: 8px;
  }

  .date{
    align-items: left;
    font-size: 15px;
    color: #777;
  }

  .edu h2{
    vertical-align: text-bottom;
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
  }

  .edu table{
    align-items: center;
    padding-top: 3%;
    width: 100%;
    border: transparent;
    text-align: left;
    vertical-align: top;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  .edu td{
    padding: 10px;
    font-size: 15px;
  }
  
  .edu tr{
    background-color: transparent;
  }

  .honors{
    margin: 40px 20px;
    padding-top: 16px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    
  }

  .honors h3{
    align-items: left;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    color:#777;
  }
  .honors table{
    align-items: center;
    width: 100%;
    border: transparent;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  .honors tr{
    background-color: transparent;
    border-bottom: 1px solid #ccc;
  }
  
  .honors th{
    padding: 20px;
    font-weight: normal;
    text-align: left;
  }
  
  .honors td{
    padding: 20px;
    font-size: 18px;
    vertical-align: top;
    text-align: left;
    line-height: 1.6;
  }

  .honors a{
    text-decoration: underline;
    color: black!important;
  }
  
.honors a:visited{
    color:inherit;
}

.honors a.active {
    background-color: transparent;
    color: black;
}

.experience{
  margin: 40px 20px;
  padding-top: 16px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    
}

.experience h3{
  align-items: left;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  color:#777;
}
.experience table{
  align-items: center;
  width: 100%;
  border: transparent;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.experience img{
  align-items: center;
  width: auto;
  height: 100px;
}
.experience tr{
  background-color: transparent;
  border-bottom: 1px solid #ccc;
}

.experience th{
  padding: 20px;
  font-weight: normal;
  text-align: left;
}

.experience td{
  padding: 20px;
  font-size: 18px;
  vertical-align: top;
  text-align: left;
  line-height: 1.6;
}

.experience a{
  text-decoration: underline;
  color: black!important;
}

.experience a:visited{
  color:inherit;
}

.experience a.active {
  background-color: transparent;
  color: black;
}
.projects{
  margin: 40px 20px;
}
.projects p{
  align-items: center;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 80px;
}